/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common css style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1160px;
    margin: auto;
}


/* header section */
/* nav section */
header {
    background: #2d25a0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 40px 0;
}
nav > i.fa-bars {
    display: none;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
.login {
    color: #fff;
    text-decoration: none;
    background: #e02c6d;
    padding: 10px 25px;
    display: inline-block;
}
.login i {
    margin-right: 10px;
}
/* banner section */
.banner-section {
    background: #2d25a0;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
}
.banner-text {
    flex-basis: 50%;
}
.banner-text h1 {
    font-size: 64px;
    color: #fff;
}
.link-button {
    text-decoration: none;
    color: #fff;
    background: #e02c6d;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 30px;
    transition: color .5s, background .5s;
}
.link-button i {
    margin-left: 10px;
}
.link-button:hover {
    background: #fff;
    color: #e02c6d;
}
.banner-image {
    flex-basis: 50%;
}
.banner-image img {
    width: 90%;
    display: block;
    margin: auto;
    transition: transform .5s;
    cursor: pointer;
    overflow: hidden;
}
.banner-image img:hover {
    transform: scale(1.2) rotate(15deg);
}



/* player section */
.players-section {
    padding-top: 70px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px
}
.player {
    max-width: 330px;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player h2 {
    font-size: 28px;
    margin: 16px 0 10px;
}
.player img {    
    width: 100%;
}



/* highlights section */
.highlights-section {
    margin-top: 165px;
}
.highlights {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.highlights-text {
    flex-basis: 50%;
    margin-right: 70px;
}
.highlights-text h2 {
    font-size: 42px;
    margin-bottom: 10px;
}
.highlights-image {
    flex-basis: 50%;
}
.highlights-image img {
    width: 570px;
    height: 400px;
    display: block;
    margin: auto;
}


/* news section styles */
.news-section {
    margin-top: 165px;
}
.news-section > .container > p {
    text-align: center;
}
.section-title {
    font-size: 48px;
    color: #2d25a0;
    margin-bottom: 40px;
}
.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.news-item {
    margin: 25px;
    cursor: pointer;
}
.news-item img {
    width: 100%;
}


/* matches section styles */
.matches-section {
    margin-top: 165px;
}
.matches {
    margin-bottom: 40px;
}
.matches .time {
    font-size: 28px;
    margin-bottom: 20px;
    color: #5e5e5e;
}
.match-box {
    box-shadow: 0 0 40px rgba(0,0,0,.15);
    padding: 25px;
    border-radius: 15px;
}
.match {
    display: flex;
}
.match-info {
    flex-basis: 40%;
}
.match-info h4 {
    font-size: 24px;
}
.match-info p {
    font-size: 20px;
    color: #7a7a7a;
}
.match-summary {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.match-summary .contry {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contry img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
hr.line {
    margin: 30px 0;
}


/* footer section */
.footer {
    margin-top: 160px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer img {
    width: 30%;
}
.footer ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.footer ul li a {
    font-size: 20px;
    text-decoration: none;
    background: rgb(190, 190, 190);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #5e5e5e;
}








/* -------------------------media quries---------------------- */
@media only screen and (max-width: 688px) {
    /* common part */
    .container {
        padding: 0 20px;
    }


    /* header part */
    nav {
        padding: 20px 0;
    }
    nav ul {
        display: none;
    }
    nav > i.fa-bars {
        display: block;
        color: #fff;
        font-size: 30px;
    }


    /* banner part */
    .banner {
        flex-direction: column;
        padding-top: 25px;
    }
    .banner-text h1 {
        font-size: 38px;
    }
    .link-button {
        margin-top: 15px;
    }
    .banner-image img {
        width: 85%;
    }    
    

    /* players part */
    .players {
        grid-template-columns: 1fr;
        margin-top: 60px;
    }


    /* highlights part */
    .highlights-section {
        margin-top: 60px;
    }
    .highlights {
        flex-direction: column;
    }
    .highlights-text h2 {
        font-size: 30px;
    }
    .highlights-image Img {
        width: 330px;
        height: 250px;
        margin-top: 25px;
    }


    /* news part */
    .news-section {
        margin-top: 60px;
    }
    .section-title {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .news {
        grid-template-columns: 1fr;
    }
    .news-item {
        margin: 15px 0;
    }


    /* matches part */
    .matches-section {
        margin-top: 60px;
    }
    .match {
        flex-direction: column;
    }
    .match-info {
        margin-bottom: 25px;
    }



    /* footer part */
    .footer {
        margin-top: 80px;
    }
    .footer img {
        width: 60%;
    }
    .footer ul li {
        margin: 20px 10px;
    }
}